- if block_events.count <= 0
  There is no history for this coordinate...
- else
  %table.table-striped.table-bordered.td-pad-left.td-pad-top-bottom.span10
    %thead
      %tr
        %th
          Action
        %th
          Material
        %th
          By
        %th
          Instant
    %tbody
      -block_events.each do |block_event|
        %tr
          %td{class: eventTypeColor(block_event['e'])}
            = block_event['e']
          %td
            = block_event['m']
          %td
            = block_event['o']
          %td.time-cell
            = formatTime(block_event['i'])
