%h1
  =bp_player['username']

.span12
  .span4
    %dl.dl-horizontal
      %dt Joined On
      %dd=formatTime(ct_player['joinedOn'])

      %dt Score
      %dd=ct_player['score']

      %dt Penalty
      %dd=ct_player['penalty'] ? "-#{ct_player['penalty']}" : 0

      %dt Minutes Played
      %dd=ct_player['minutesPlayed']

      %dt Average Per Day
      %dd=averageMinutesPlayed(ct_player['joinedOn'], ct_player['minutesPlayed'])

      %dt Block Broken
      %dd=ct_player['blocksBroken']

      %dt Block Placed
      %dd=ct_player['blocksPlaced']

  .span4
    %dl.dl-horizontal
      %dt Protection On
      %dd=bp_player["protectionEnabled"]

      %dt Friends
      -bp_player['friends'].each do |friend|
        %dd
          =friend

