%script{src: '/js/player-info-report.js'}

%h1
  Query Player
%br
#player-info-query.form-inline
  %label.pad-left
    username:
  %input#username.input-medium{type: 'text', name: 'username'}
  %button#submit.margin-left.btn-primary
    Submit

.clearfix
%br
%br

%h1#player-name-header

#player-info-content