.content-centered {
    text-align: center;
}

table.td-pad-left tr td, .pad-left {
    padding-left: 10px;
}

.margin-left {
    margin-left: 10px;
}

table.td-pat-top-bottom tr td {
    padding-top: 2px;
    padding-bottom: 2px;
}

label {
    font-weight: bold;
}

.text-cell {
    width: 300px;
}

.time-cell {
    width: 180px;
}

.red, .major-warning, .removed-type{
    color: red;
}

.orange, .moderate-warning {
    color: orange;
}

.yellow, .minor-warning, .unprotected-type {
    color: #aaaa00;
}

.green, .no-warning, .placed-type{
    color: green;
}

.bold {
    font-weight: bold;
}
